@import "tailwindcss";

@theme {
  --font-serif: "Playfair Display", "Cormorant Garamond", "Tenor Sans", serif;
  --font-sans: "Inter", "Lato", "Söhne", ui-sans-serif, system-ui, sans-serif;
  --font-cormorant: "Cormorant Garamond", serif;
}
